/*Custom Floats*/
.float-center {
  display: block;
  position: relative;
  margin: 0 auto;
  width: auto;
  height: auto;
}
.float-left {
  display: block;
  position: relative;
  margin: 10px 10px 10px 0;
  float: left;
}
.float-right {
  display: block;
  position: relative;
  margin: 10px 0 10px 10px;
  float: right;
}
.highlight, .note {
  background-color: #FFFF99;
}
.side-note {
  display: block;
  position: relative;
  width: 200px;
  padding: 5px 0 5px 10px;
  border: 2px solid #D4D8D3;
  margin: 0 0 20px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  clear: both;
}
.border {
  border: 1px solid #CCCCCC;
  padding: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
/*Simple CSS styles*/
.uppercase {
  text-transform: uppercase;
}
.caps {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.small-text {
  font-size: 12px;
}
.med-text {
  font-size: 18px;
  line-height: normal;
}
.large-text {
  font-size: 24px;
  line-height: normal;
}
.light-text {
  color: #DDDDDD;
}
.dark-text {
  color: #0F0F0F;
}
.left-text-align {
  text-align: left;
}
.right-text-align {
  text-align: right;
}
.center-text-align {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.clear-both {
  clear: both;
  display: block;
}
.indent {
  display: block;
  position: relative;
  margin-left: 40px;
  margin-top: 20px;
  border-left: 1px solid #D4D8D3;
  padding-left: 10px;
  width: auto;
  margin-bottom: 25px;
}
#copyright {
  display: block;
  color: #888888;
  font-size: 10px;
}
